<h1>Estimate Price</h1>

<label>Total Amount</label><br>
<%= @totalamt %><br><br>

<label>Previous price of first product ::</label>
<%= @product1 %>
<label>New Price ::</label>
<%= @netamt1 %><br><br>

<label>Previous price of second product ::</label>
<%= @product2 %>
<label>New Price ::</label>
<%= @netamt2 %><br><br>

<label>Previous price of third product ::</label>
<%= @product3 %>
<label>New Price ::</label>
<%= @netamt3 %><br><br>

<label>Previous price of fourth product ::</label>
<%= @product4 %>
<label>New Price ::</label>
<%= @netamt4 %><br>

<!-- <html>
   <body>
      <form method = "POST" action = "http://www.example.com/test.cgi">
         First Name :<input type = "text" name = "FirstName" value = "" />
         <br />number_to_currency
         Last Name :<input type = "text" name = "LastName" value = "" /> 
         <input type = "submit" value = "Submit Data" />
      </form>
   </body>
</html>

 -->

 