<h1>Estimate Price</h1>

<label>Total Amount</label><br>
<%= number_to_currency(@totalamt,unit:"₹") %><br><br>

<label>Previous price of first product ::</label>
<%= number_to_currency @product1,unit:"₹" %>
<label>New Price ::</label>
<%= number_to_currency @netamt1, unit:"₹"  %><br><br>

<label>Previous price of second product ::</label>
<%= number_to_currency @product2, unit:"₹" %>
<label>New Price ::</label>
<%= number_to_currency @netamt2, unit:"₹" %><br><br>

<label>Previous price of third product ::</label>
<%= number_to_currency@product3, unit:"₹" %>
<label>New Price ::</label>
<%= number_to_currency @netamt1, unit:"₹"%><br><br>

<label>Previous price of fourth product ::</label>
<%= number_to_currency @product4, unit:"₹" %>
<label>New Price ::</label>
<%= number_to_currency @netamt4, unit:"₹" %><br>

<!-- <html>
   <body>
      <form method = "POST" action = "http://www.example.com/test.cgi">
         First Name :<input type = "text" name = "FirstName" value = "" />
         <br />number_to_currency
         Last Name :<input type = "text" name = "LastName" value = "" />
         <input type = "submit" value = "Submit Data" />
      </form>
   </body>
</html>

 -->
